@font-face {
    font-family: Inter-Bold;
    src: url(../fonts/Inter-Bold.otf);
}
@font-face {
    font-family: Inter-SemiBold;
    src: url(../fonts/Inter-SemiBold.otf);
}
@font-face {
    font-family: Inter-Medium;
    src: url(../fonts/Inter-Medium.otf);
}
@font-face {
    font-family: Inter-Regular;
    src: url(../fonts/Inter-Regular.otf);
}
:root{
    --black-color:#000000;
    --green-color:#438565;
    --light-color:#989898;
    --white-color:#ffffff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
.container-fluid{
    width: 100%;
    margin: 0 auto;
}
.container {
    width: 1187px;
    margin: 0 auto;
}
/* ---- Start Css Header ----> */
header .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px 0px;
    align-items: center;
    padding: 28px 32px 0px 32px;
}
header .row .serach-bar form {
    display: flex; 
    grid-gap: 0px 64px;
    position: relative;
}
header .row .serach-bar form input {
    width: 314px;
    height: 64px;
    background-color: #f6f6f6;
    border: 0.5px solid rgba(0, 0, 0, 0.2); 
    border-radius: 16px;
    outline: none;
    padding: 20px 28px 20px 10px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    font-family: Inter-Regular;
}
header .row .serach-bar form .btn{
    position:absolute;
    top: 20px;
    left: 263px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
header .row .site-logo{
    display: flex;
    justify-content: center;
}
header .row .site-logo a img{
    max-width: 100%;
    height: auto;
}
header .row .r-icons ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-gap: 0px 8px;
    list-style-type: none;
}
header .row .nav-links{
    grid-column: span 3;
    padding: 13px 0px 24px 0px;
    display: flex;
    justify-content: center;
    border-top: 0.5px solid #a6a6a6;
    position: relative;
}
header .row .nav-links ul{
    list-style-type: none;
    display: flex;
    grid-gap: 0px 75px;
}
header .row .nav-links ul > li{
    padding-top: 10px;
}
header .row .nav-links ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    color: #666666;
    font-family: Inter-Regular;
}
header .row .nav-links ul li a i{
    font-size: 15px;
    color: #666666;
}
header .row .nav-links ul li .home:visited{
    color: var(--green-color);
}
/* ---- Header Dropdown One ----> */
header .row .nav-links ul li .dropdown{
    position: absolute;
    width: 100%;
    top: 48px;
    left: 0;
    z-index: 999;
    background: #fff;
    padding: 30px 30px 30px 30px;
    display: none;
    border: none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08);
}
header .row .nav-links ul li .dropdown:hover{
    display: block;
}
header .row .nav-links ul li:hover .dropdown{
    display: block;
}
header .row .nav-links ul li .dropdown .left{
    display: flex;
    justify-content: space-between;
}
.row .nav-links ul li .dropdown .left .box1 h3{
    font-size: 14px;
    font-weight: 500;
    color: #191919;
    line-height: 24px;
    font-family: Inter-Medium;
    text-transform: uppercase;
}
.row .nav-links ul li .dropdown .left .dropmenu-slider h3{
    font-size: 14px;
    font-weight: 500;
    color: #191919;
    line-height: 24px;
    font-family: Inter-Medium;
    text-transform: uppercase;
}
header .row .nav-links ul li .dropdown .left .box1 ul{
    padding-top: 10px;
}
header .row .nav-links ul li .dropdown .left .box1 ul li{
    padding-top: 5px;
}
header .row .nav-links ul li .dropdown .left .box1 ul li a{
    color: #777777;
    font-size: 14px;
    line-height: 22px;
}
header .row .nav-links ul li .dropdown .left .box1 ul li a .feat{
    background-color: #fdbc20;
    font-size: 13px;
    line-height: 22px;
    padding: 3px 3px;
    color: #fff;
}
header .row .nav-links ul li .dropdown .left .box1 ul li a .news{
    background-color: #03a9f5;
    font-size: 13px;
    line-height: 22px;
    padding: 3px 3px;
    color: #fff;
}
header .row .nav-links ul li .dropdown .left .box1 ul li a .sales{
    background-color: #f8353e;
    font-size: 13px;
    line-height: 22px;
    padding: 3px 3px;
    color: #fff;
}
header .row .nav-links ul li .dropdown .left .box1 ul li a:hover{
    color: #2879fe;
}
.dropdown .dropmenu-slider .drop-slider{
    width: 500px;
    padding-top: 20px;
}
.dropdown .dropmenu-slider .swiper-wrapper .swiper-slide{
    max-width: 150px;
    margin-right: 0px;
}
.dropdown .dropmenu-slider .swiper-wrapper .swiper-slide img{
    max-width: 130px;
    height: auto;
}
.dropdown .left .dropmenu-slider .right-top {
    display: flex;
    position: relative;
}
.dropdown .left .dropmenu-slider .right-top .swiper-button-prev::after{
    content: 'prev';
    font-size: 25px;
    position: absolute;
    left: 420px;
    color: #438565;
}
.dropdown .left .dropmenu-slider .right-top .swiper-button-next::after{
    content: 'next';
    font-size: 25px;
    color: #438565;
}
.nav-links ul li .dropdown .right{
    display: flex;
    grid-gap: 0px 20px;
    padding-top: 30px;
}
.nav-links ul li .dropdown .right .img-one{
    background-image: url(../images/mm_01_1180x.png);
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-links ul li .dropdown .right .img-two{
    background-image: url(../images/mm_02_1180x.png);
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-links ul li .dropdown .right .img-one{
    padding: 30px 50px;
}
.nav-links ul li .dropdown .right .img-two{
    padding: 30px 50px;
}
.nav-links ul li .dropdown .right .img-one h4{
    font-size: 18px;
    font-weight: 500;
    font-family: Inter-Medium;
    line-height: 30px;
}
.row .nav-links ul li .dropdown .right .img-one h4 span{
    font-size: 18px;
    font-weight: 500;
    font-family: Inter-Medium;
    color: #007bff;
}
.nav-links ul li .dropdown .right .img-one h3{
    font-size: 25px;
    font-weight: 500;
    font-family: Inter-Medium;
    line-height: 35px;
}
.nav-links ul li .dropdown .right .img-two h4{
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #fff;
    font-family: Inter-Medium;
}
.nav-links ul li .dropdown .right .img-two h3{
    font-size: 25px;
    font-weight: 500;
    line-height: 35px;
    color: #fff;
    font-family: Inter-Medium;
}
.nav-links ul li .dropdown .left .box1 ul{
    display: inline-block;
}
.nav-links ul li .dropdown .left .box1 ul li a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    color: white;
    font-family: Inter-Regular;
}
/* ---- Header Dropdown One ----> */
/* ---- Header Dropdown Two ----> */
header .row .nav-links ul li .dropdown-two{
    position: absolute;
    top: 48px;
    display: none;
    width: 150px;
    background: #fff;
    padding: 0px 0px 10px 10px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1);
}
header .row .nav-links ul li .dropdown-two:hover{
    display: block;
}
header .row .nav-links ul li:hover .dropdown-two{
    display: block;
}
header .row .nav-links ul li .dropdown-two ul{
    display: block;
}
header .row .nav-links ul li .dropdown-two ul li{
    padding-bottom: 10px;
}
header .row .nav-links ul li .dropdown-two ul li a{
    text-decoration: none;
    font-size: 15px;
    color:  #777777;
}
header .row .nav-links ul li .dropdown-two ul li a:hover{
    color: #2879fe;
}
header .row .nav-links ul li .dropdown-two ul .li-shirt i{
    padding-left: 80px;
}
/* ---- Header Dropdown Two ----> */
/* ---- Header Dropdown Three ----> */
.dropdown-two ul li .dropdown-three{
    position: absolute;
    top: 0;
    left: 150px;
    z-index: 999;
    display: none;
    width: 150px;
    background: #fff;
    padding: 10px 0px 10px 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08);
}
.dropdown-two ul li .dropdown-three h3{
    font-size: 14px;
    font-weight: 500;
    color: #191919;
    line-height: 24px;
    font-family: Inter-Medium;
    text-transform: uppercase;
}
.dropdown-two ul li.dropdown-three:hover{
    display: block;
}
.dropdown-two ul li:hover .dropdown-three{
    display: block;
}
.dropdown-two .dropdown-three ul li{
    padding-top: 5px;
}
/* ---- Header Dropdown Three ----> */
.dropdown-three ul li .dropdown-four{
    position: absolute;
    top: 130px;
    left: 150px;
    z-index: 999;
    display: none;
    width: 150px;
    background: #fff;
    padding: 0px 0px 10px 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08);
}
.dropdown-three ul li.dropdown-four:hover{
    display: block;
}
.dropdown-three ul li:hover .dropdown-four{
    display: block;
}
.dropdown-three .dropdown-four ul li{
    padding-top: 5px;
}
/* ---- Close Css Header ----> */
/* ---- Start Css Hero Section ----> */
.hero-section .row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.hero-section .row .box .box-img img{
    max-width: 100%;
    height: auto;
}
.hero-section .row .box .box-content{
    position: relative;
}
.hero-section .row .box .box-content h3{
    font-size: 34px;
    font-weight: 600;
    line-height: 41.15px;
    font-family: Inter-SemiBold;
    color: var(--white-color);
    position: absolute;
    top: -75px;
    right: 38px;
}
/* ---- Close Css Hero Section ----> */
/* ---- Start Css Section one----> */
.section-one {
    padding: 52px 0px 50px 0px;
}
.section-one .top-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-one .top-text h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 58.09px;
    font-family: Inter-Bold;
    color: var(--black-color);
}
.section-one .top-text a{
    width: 123px;
    height: 41px;
    display: flex;
    grid-gap: 0px 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid var(--green-color);
    text-decoration: none;
}
.section-one .top-text a span{
    font-size: 14px;
    font-weight: 600;
    line-height: 16.94px;
    font-family: Inter-SemiBold;
    color: var(--green-color);
}
.section-one .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px 56px;
    padding-top: 40px;
    justify-items: center;
}
.section-one .row .card {
    border-radius: 16px;
    border: 0.3px solid rgb(0, 0, 0, 20%);
    padding: 17px 17px 16px 17px;
}
.section-one .row .card .card-img img{
    max-width: 100%;
}
.section-one .row .card .top-new{
    position: relative;
}
.section-one .row .card .top-new span{
    position: absolute;
    top: -8px;
    left: 292px;
    background-color: #F88240;
    color: var(--white-color);
    padding: 3px 10px 3px 10px;
    font-size: 16px;
    font-weight: 500;
    font-family: Inter-Medium;
    line-height: 19.36px;
    letter-spacing: 1px;
    transform: skew(-16deg, 0deg);
    border-radius: 2px;
}
.section-one .row .card .card-content{
    display: flex;
    justify-content: space-between;
}   
.section-one .row .card .card-content .left-text h4{
    font-size: 24px;
    font-weight: 500;
    line-height: 29.05px;
    font-family: Inter-Medium;
    color: var(--black-color);
}
.section-one .row .card .card-content .left-text h5{
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    font-family: Inter-Regular;
    color: darkgray;
    padding-top: 4px;
}
.section-one .row .card .card-content .right-color img{
    width: 18px;
    height: auto;
}
.section-one .row .card .card-last{
    display: flex;
    padding-top: 5px;
    align-items: end;
    justify-content: space-between;
}
.section-one .row .card .card-last h4{
    font-size: 22px;
    font-weight: 600;
    line-height: 26.63px;
    font-family: Inter-SemiBold;
    color: var(--black-color);
}
.section-one .row .card .card-last a {
    background-color: var(--green-color);
    border-radius: 50%;
    padding: 12px;
    text-decoration: none;
}
.section-one .row .card .card-last a i{
    font-size: 22px;
    color: white;
}
/* ---- Close Css Section One ----> */
/* ---- Start Css Section Two ----> */
.section-two {
    padding: 38px 0px 110px 0px;
}
.section-two .card-slider {
    padding: 29px 0px 25px 28px;    
    box-shadow: 0px 4px 6px 0px #d4d4d4;
}
/* ---- Close Css Section Two ----> */
/* ---- Start Css Section Three ----> */
.section-three {
    padding: 0px 0px 80px 0px;
}
.section-three .top-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-three .top-text h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 58.09px;
    font-family: Inter-Bold;
    color: var(--black-color);
}
.section-three .top-text a {
    width: 105px;
    height: 41px;
    display: flex;
    grid-gap: 0px 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 12px;
    border: 0.5px solid var(--green-color);
    text-decoration: none;
}
.section-three .top-text a span{
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    font-family: Inter-Medium;
    color: var(--green-color);
}
.section-three .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px 56px;
    padding-top: 53px;
    justify-items: center;
}
.section-three .row .card {
    border-radius: 16px;
    border: 0.3px solid rgb(0, 0, 0, 20%);
    padding: 17px 17px 16px 17px;
}
.section-three .row .card .card-img img{
    max-width: 322px;
    height: auto;
}
.section-three .row .card .card-content{
    display: flex;
    justify-content: space-between;
}   
.section-three .row .card .card-content .left-text h4{
    font-size: 24px;
    font-weight: 500;
    line-height: 29.05px;
    font-family: Inter-Medium;
    color: var(--black-color);
}
.section-three .row .card .card-content .left-text h5{
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    font-family: Inter-Regular;
    color: darkgray;
    padding-top:4px;
}
.section-three .row .card .card-content .right-color img{
    width: 18px;
    height: auto;
}
.section-three .row .card .card-last{
    display: flex;
    padding-top: 5px;
    align-items: end;
    justify-content: space-between;
}
.section-three .row .card .card-last h4{
    font-size: 22px;
    font-weight: 600;
    line-height: 26.63px;
    font-family: Inter-SemiBold;
    color: var(--black-color);
}
.section-three .row .card .card-last a{
    background-color: var(--green-color);
    border-radius: 50%;
    padding: 12px;
    text-decoration: none;
} 
.section-three .row .card .card-last a i{
    color: var(--white-color);
    font-size: 22px;
}
/* ---- Close Css Section Three ----> */
/* ---- Start Css Section Four ----> */
.section-four {
    padding: 88px 0px 110px 0px;
    background-color: #FAFAFA;
}
.section-four .top-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-four .top-text h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 58.09px;
    font-family: Inter-Bold;
    color: var(--black-color);
}
.section-four .top-text a{
    width: 123px;
    height: 41px;
    display: flex;
    grid-gap: 0px 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid var(--green-color);
    text-decoration: none;
}
.section-four .top-text a span{
    font-size: 14px;
    font-weight: 600;
    line-height: 16.94px;
    font-family: Inter-SemiBold;
    color: var(--green-color);
}
.section-four .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px 56px;
    padding-top: 53px;
    justify-items: center;
}
.section-four .row .card {
    border-radius: 16px;
    border: 0.3px solid rgb(0, 0, 0, 20%);
    padding: 17px 17px 16px 17px;
}
.section-four .row .card .card-img img{
    max-width: 322px;
    height: auto;
}
.section-four .row .card .card-content{
    display: flex;
    justify-content: space-between;
}   
.section-four .row .card .card-content .left-text h4{
    font-size: 24px;
    font-weight: 500;
    line-height: 29.05px;
    font-family: Inter-Medium;
    color: var(--black-color);
}
.section-four .row .card .card-content .left-text h5{
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    font-family: Inter-Regular;
    color: darkgray;
    padding-top: 4px;
}
.section-four .row .card .card-content .right-color img{
    width: 18px;
    height: auto;
}
.section-four .row .card .card-last{
    display: flex;
    padding-top: 5px;
    align-items: end;
    justify-content: space-between;
}
.section-four .row .card .card-last h4{
    font-size: 22px;
    font-weight: 600;
    line-height: 26.63px;
    font-family: Inter-SemiBold;
    color: var(--black-color);
}
.section-four .row .card .card-last a{
    background-color: var(--green-color);
    border-radius: 50%;
    padding: 12px;
    text-decoration: none;
}
.section-four .row .card .card-last a i{
    color: var(--white-color);
    font-size: 22px;
}
/* ---- Close Css Section Four ----> */
/* ---- Start Css Section Five ----> */
.section-five {
    padding: 80px 0px 89px 0px;
}
.section-five .top-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-five .top-text h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 58.09px;
    font-family: Inter-Bold;
    color: var(--black-color);
}
.section-five .top-text a{
    width: 123px;
    height: 41px;
    display: flex;
    grid-gap: 0px 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 12px;
    border: 1px solid var(--green-color);
    text-decoration: none;
}
.section-five .top-text a span{
    font-size: 14px;
    font-weight: 600;
    line-height: 16.94px;
    font-family: Inter-SemiBold;
    color: var(--green-color);
}
.section-five .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px 56px;
    padding-top: 53px;
    justify-items: center;
}
.section-five .row .card {
    border-radius: 16px;
    border: 0.3px solid rgb(0, 0, 0, 20%);
    padding: 17px 17px 16px 17px;
}
.section-five .row .card .card-img img{
    max-width: 322px;
    height: auto;
}
.section-five .row .card .card-content{
    display: flex;
    justify-content: space-between;
}   
.section-five .row .card .card-content .left-text h4{
    font-size: 24px;
    font-weight: 500;
    line-height: 29.05px;
    font-family: Inter-Medium;
    color: var(--black-color);
}
.section-five .row .card .card-content .left-text h5{
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    font-family: Inter-Regular;
    color: darkgray;
    padding-top: 4px;
}
.section-five .row .card .card-content .right-color img{
    width: 18px;
    height: auto;
}
.section-five .row .card .card-last{
    display: flex;
    padding-top: 5px;
    align-items: end;
    justify-content: space-between;
}
.section-five .row .card .card-last h4{
    font-size: 22px;
    font-weight: 600;
    line-height: 26.63px; 
    font-family: Inter-SemiBold;
    color: var(--black-color);
}
.section-five .row .card .card-last a{
    background-color: var(--green-color);
    border-radius: 50%;
    padding: 12px;
    text-decoration: none;
}
.section-five .row .card .card-last a i{
    font-size: 22px;
    color: var(--white-color);
}
/* ---- Close Css Section Five ----> */
/* ---- Start Css Section Six ----> */
.section-six {
    padding: 0px 0px 107px 0px;
}
.section-six .six-main{
    padding-bottom: 87px;
}
.section-six .six-main h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 48.41px;
    font-family: Inter-Bold;
    color: var(--black-color);
    text-align: center;
    position: relative;
}
.section-six .six-main h2 span{
    position: relative;
    background-color: #fff;
    padding: 0px 20px;
}
.section-six .six-main h2:before{
    content: "";
    display: block;
    height: 4px;
    width: 50%;
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    background: var(--green-color);
    border-radius: 6px;
    transform: translate(-50%, -50%);
}
.section-six .swiper {
    border-right: none;
    border: 1px solid #438565;
    border-radius: 24px;
}
.section-six .swiper .slider-rows {
    display: flex;
    padding: 84px 0px 78px 24px;
    grid-gap: 18px;
} 
.section-six .slider-grids .slider-rows .swiperss-one {
    margin-right: 0px !important;
} 
.section-six .swiper .swiper-wrapper .swiperss-one img{
    width: 100%;
}
.section-six .swiper .swiper-wrapper .swiperss-one img:first-child{
    padding-bottom: 54px;
}
.section-six .swiper .swiper-button-next{
    color: #438565;
    width: 40px;
    height: auto;
}
.section-six .swiper .swiper-button-prev{
    color: #438565;
    width: 40px;
    height: auto;
}
/* ---- Close Css Section Six ----> */
/* ---- Start Css Footer ----> */
footer {
    background-color: var(--green-color);
    padding: 83px 114px 80px 80px;
}
footer .row{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
}
footer .row .box h3{
    font-size: 24px ;
    font-weight: 600;
    line-height: 29.05px;
    font-family: Inter-SemiBold;
    color: var(--white-color);
    padding-bottom: 5px;
}
footer .row .box ul {
    list-style-type: none;
    padding-top: 5px;
}
footer .row .box ul li{
    padding-bottom: 8px;
}
footer .row .box .social ul li{
    padding-top: 0px;
}
footer .row .box ul li a{
    text-decoration: none;
    font-size: 21px;
    font-weight: 400;
    line-height: 25.41px;
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter-Regular;
}
footer .row .box .social ul {
    display: flex;
    grid-gap: 0px 15px;
    list-style-type: none;
    justify-content: center;
}
footer .row .box .social ul li a{
    font-size: 20px;
    color: var(--white-color);
}
/* ---- Close Css Footer----> */
